apiVersion: v1
kind: Service
metadata:
  name: redis-cluster
spec:
  ports:
    - port: 6379
      name: redis
    - port: 16379
      name: cluster
  clusterIP: None
  selector:
    app: redis-cluster
